*{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}

.logo{
    border-radius: 50%;
    height: 90px;
    max-width: 90px;
}

body{
    background-image: url(style.css);
    background-size: cover;
    background-position: center;
    height: 500;
    max-width: 1920;
}

nav{
    justify-content: space-between;
}

.alertas{
    flex: content;
    grid-column: 3;
    flex-wrap: wrap;
}

.status-online{
    
}